* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.gpd-cnt {
  padding: 0;
}
.gpd-clm {
  padding: 5px 0;
}
.gpd-grid {
  min-height: auto;
  padding: 10px 0;
}
body {
  background-image: none;
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  background-color: #faf8ef;
}
.gpd-clm {
  padding: 5px 0;
}
.gpd-grid {
  min-height: auto;
  padding: 10px 0;
}
.gpd-cnt {
  padding: 0;
}
#i8k8l {
  padding: 0 0 0 0;
}
.btn.btn-primary {
  background-color: #00789a;
  border: 0 solid rgb(0, 93, 192);
  padding: 6px 20px 6px 20px;
  transition: background-color 0.2s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
}
#i35mb {
  background-color: #000001;
  padding: 40px 0 40px 0;
  margin: 0 0 0 0;
  background-image: url("https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/58a0390cd05c4fd3acf632b47d1635f6_123.png"),
      linear-gradient(to right, #121732 0%, #000000 100%);
  background-repeat: no-repeat, repeat;
  background-position: center center, left top;
  background-attachment: scroll, scroll;
  background-size: contain, auto;
}
#i05ihu {
  flex-direction: column;
  padding: 0 0 0 0;
}
#i3y8m8 {
  color: black;
  width: 165px;
}
#i6fl8s {
  padding: 10px 0 10px 0;
  text-transform: uppercase;
  color: #ffffff;
}
#i7b2pk {
  line-height: 30px;
  padding: 10px 10px 10px 0;
  color: #ffffff;
}
#iplo9g {
  padding: 0 0 0 0;
}
.header1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  min-height: 50px;
  color: #444;
  background-color: #fff;
}
.burger {
  margin: 5px 0 0;
  width: 45px;
  padding: 5px 10px;
  display: none;
  float: right;
  cursor: pointer;
}
.burger-line-dark {
  padding: 1px;
  background-color: #444;
  margin: 5px 0;
}
#i3dj3f {
  align-self: center;
  text-align: right;
}
#i4vob {
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 0 10px 0;
}
#i1uhi {
  padding: 10px 10px 10px 0;
  text-transform: uppercase;
  color: #ffffff;
  margin: 25px 0 0 0;
}
#i20op {
  text-align: right;
  height: 46px;
  width: 250px;
  background-color: #374b61;
  border: 0 inset rgb(118, 118, 118);
  padding: 1px 20px 1px 2px;
  color: #fffdfd;
}
#i0ubq {
  margin: 3px 0 0 0;
}
#iuyio {
  background-color: #5db18c;
  color: #ffffff;
  padding: 10px 23px 10px 23px;
  border-radius: 7px 7px 7px 7px;
}
#ilgri {
  margin: 12px 0 0 0;
}
#iev6k {
  background-color: #000000;
  padding: 0 0 0 0;
}
#i8nqp {
  text-align: center;
}
#ipadw {
  align-items: center;
  text-align: center;
  justify-content: center;
}
#ijc2f {
  text-align: center;
  color: #ffffff;
  flex: 0 1 auto;
  margin: 0 45px 0 45px;
}
#ix4fp {
  padding: 10px 0 10px 0;
  text-transform: capitalize;
  color: #ffffff;
}
#ictt1 {
  padding: 10px 0 10px 0;
  text-transform: uppercase;
  color: #ffffff;
}
#ipz5u {
  text-align: center;
  color: #ffffff;
  flex: 0 1 auto;
  margin: 0 45px 0 45px;
}
#ibzdj {
  padding: 10px 0 10px 0;
  text-transform: uppercase;
  color: #ffffff;
}
#ifizg {
  text-align: center;
  color: #ffffff;
  flex: 0 1 auto;
  margin: 0 45px 0 45px;
}
#in8it8 {
  background-color: #1b2534;
}
#izil {
  border: 0 solid #444444;
  background-color: #1b2534;
}
#i575rl-2 {
  padding: 0 20px 0 20px;
  margin: 0 20px 0 0;
  max-width: 100%;
  width: 100%;
}
#iyp1im-2 {
  min-height: 10px;
  padding: 10px 0 10px 0;
}
#inpxw9-2 {
  min-height: 10px;
  padding: 5px 5px 5px 0;
  flex: 0 1 auto;
  width: 14%;
}
#i11uk-2 {
  color: black;
}
#i8smfs-2 {
  min-height: 0;
  text-align: right;
  padding: 0 0 0 5px;
}
#i1t03-2 {
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 0 0;
}
#i8r2e-2 {
  margin: 0 15px 0 0;
}
#iffpe-2 {
  background-color: #2e3a4e;
}
#i4r7l-2 {
  flex: 0 1 auto;
  align-self: center;
  margin: 0 15px 0 0;
}
#idvlo-2 {
  height: 35px;
  width: 300px;
  font-size: 13px;
  padding: 1px 2px 1px 15px;
  color: #93a1b4;
}
#imllt {
  flex: 0 1 auto;
  align-self: center;
  margin: 0 15px 0 0;
}
#iwghy {
  padding: 5px 20px 5px 20px;
}
#ifpp3-2 {
  flex: 0 1 auto;
  text-align: center;
  padding: 0 0 0 0;
  flex-basis: 5%;
  margin: 0 13px 0 0;
}
#ia7yc-2 {
  color: black;
  width: 73%;
  text-align: center;
}
#il636-2 {
  align-self: center;
  flex: 0 1 auto;
  flex-basis: 7%;
  padding: 0 0 0 0;
}
#iswww-2 {
  color: black;
}
#iz6vo {
  flex-direction: column;
  padding: 0 0 0 0;
  background-color: #ffffff;
  margin: 0 0 0 0;
}
#ia4mwg {
  padding: 0 0 0 0;
  background-color: #ffffff;
}
#iuzatd {
  max-width: 100%;
  width: 100%;
  padding: 0 0 50px 0;
}
#iqtvt {
  padding: 0 0 30px 0;
  background-color: #ffffff;
}
.sticky {
  justify-content: space-between;
  align-items: center;
  min-height: 32px;
  height: 60px;
  max-width: 100%;
  width: 100%;
}
#ighf:hover {
  background-color: #ffffff;
}
#ighf {
  padding: 14px 0 14px 0;
  min-height: 70px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 4px rgba(191, 191, 191, 0.13);
  margin: 0 0 7px 0;
}
#ik48 {
  flex: 1 1 100%;
  flex-basis: 1auto;
  align-self: center;
  padding: 5px 0 5px 10px;
  white-space: normal;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 3px 0;
}
#icu6h {
  color: #302c5e;
  font-size: 21px;
}
.gpd-navbar__menu {
  display: none;
}
#iobjh {
  flex: 0 1 auto;
}
#i5hbo {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
#i937yi {
  margin: 0 35px 0 35px;
  padding: 0 0 0 0;
}
#i5wn7j {
  margin: 40px 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background-color: #fffafa;
}
#i8zcvg {
  flex-direction: column;
  padding: 10px 0 15px 0;
}
#il2xxf {
  padding: 5px 0 5px 0;
  margin: 3px 0 0 0;
}
#i4a9sf {
  color: #302c5e;
  font-size: 21px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  padding: 10px 10px 10px 25px;
}
#ig75jo {
  padding: 10px 25px 10px 25px;
}
#i0mp2f {
  background-color: #ffffff;
  border-radius: 8px 8px 8px 8px;
  padding: 5px 15px 5px 15px;
  box-shadow: 2px 2px 9px 5px rgba(170, 170, 170, 0.07);
  margin: 0 30px 0 0;
}
#i652ij {
  padding: 4px 0 4px 0;
}
#iojftr {
  flex: 0 1 auto;
  align-self: center;
}
#il96fe {
  color: black;
  width: 80%;
}
#ivdiuk {
  align-self: center;
  padding: 5px 0 5px 7px;
}
#ic8nue {
  width: 100%;
  padding: 0 0 0 0;
  color: #302c5e;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 17px;
}
#ifdjor {
  width: 100%;
  padding: 0 0 0 0;
  color: #404040;
}
#ic1ccr {
  background-color: #ffffff;
  border-radius: 8px 8px 8px 8px;
  padding: 5px 15px 5px 15px;
  box-shadow: 2px 2px 9px 5px rgba(170, 170, 170, 0.07);
  margin: 0 15px 0 15px;
}
#iemrh7 {
  padding: 4px 0 4px 0;
}
#i7trrs {
  flex: 0 1 auto;
  align-self: center;
}
#iu3vly {
  color: black;
  width: 80%;
}
#ivt7k8 {
  align-self: center;
  padding: 5px 0 5px 7px;
}
#ifs5g7 {
  width: 100%;
  padding: 0 0 0 0;
  color: #302c5e;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 17px;
}
#iiq5zm {
  width: 100%;
  padding: 0 0 0 0;
  color: #404040;
}
#i77jpi {
  background-color: #ffffff;
  border-radius: 8px 8px 8px 8px;
  padding: 5px 15px 5px 15px;
  box-shadow: 2px 2px 9px 5px rgba(170, 170, 170, 0.07);
  margin: 0 0 0 30px;
}
#i12mn9 {
  padding: 4px 0 4px 0;
}
#i7j9ef {
  flex: 0 1 auto;
  align-self: center;
}
#icw9hz {
  color: black;
  width: 80%;
}
#i23znz {
  align-self: center;
  padding: 5px 0 5px 7px;
}
#i8c31a {
  width: 100%;
  padding: 0 0 0 0;
  color: #302c5e;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 17px;
}
#ilhgzk {
  width: 100%;
  padding: 0 0 0 0;
  color: #404040;
}
#icqe5f {
  margin: 0 35px 0 35px;
  padding: 0 0 0 0;
}
#iazfvk {
  margin: 40px 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background-color: #fffafa;
}
#in19gm {
  flex-direction: column;
  padding: 10px 0 15px 0;
}
#i390wf {
  padding: 5px 0 5px 0;
  margin: 3px 0 0 0;
}
#ihucnc {
  color: #302c5e;
  font-size: 21px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  padding: 10px 10px 10px 25px;
}
#ier2ev {
  padding: 10px 25px 10px 25px;
}
#iyii1n {
  background-color: #ffffff;
  border-radius: 8px 8px 8px 8px;
  padding: 5px 15px 5px 15px;
  box-shadow: 2px 2px 9px 5px rgba(170, 170, 170, 0.07);
  margin: 0 30px 0 0;
}
#ic1ayj {
  padding: 4px 0 4px 0;
}
#ii9jl2 {
  flex: 0 1 auto;
  align-self: center;
}
#iuf9dj {
  color: black;
  width: 80%;
}
#ivdfrl {
  align-self: center;
  padding: 5px 0 5px 7px;
}
#ikaquj {
  width: 100%;
  padding: 0 0 0 0;
  color: #302c5e;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 17px;
}
#iapw37 {
  width: 100%;
  padding: 0 0 0 0;
  color: #404040;
}
#idn6oi {
  background-color: #ffffff;
  border-radius: 8px 8px 8px 8px;
  padding: 5px 15px 5px 15px;
  box-shadow: 2px 2px 9px 5px rgba(170, 170, 170, 0.07);
  margin: 0 15px 0 15px;
}
#i3rrlj {
  padding: 4px 0 4px 0;
}
#ixk9x5 {
  flex: 0 1 auto;
  align-self: center;
}
#iz4esq {
  color: black;
  width: 80%;
}
#i6oh6i {
  align-self: center;
  padding: 5px 0 5px 7px;
}
#ie7ibi {
  width: 100%;
  padding: 0 0 0 0;
  color: #302c5e;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 17px;
}
#i9rxig {
  width: 100%;
  padding: 0 0 0 0;
  color: #404040;
}
#ijh6j9 {
  background-color: #ffffff;
  border-radius: 8px 8px 8px 8px;
  padding: 5px 15px 5px 15px;
  box-shadow: 2px 2px 9px 5px rgba(170, 170, 170, 0.07);
  margin: 0 0 0 30px;
}
#i42sb6 {
  padding: 4px 0 4px 0;
}
#ibb08v {
  flex: 0 1 auto;
  align-self: center;
}
#ibnzgx {
  color: black;
  width: 80%;
}
#ik5urx {
  align-self: center;
  padding: 5px 0 5px 7px;
}
#ijwewf {
  width: 100%;
  padding: 0 0 0 0;
  color: #302c5e;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 17px;
}
#ivu7jh {
  width: 100%;
  padding: 0 0 0 0;
  color: #404040;
}
#iezx5j {
  padding: 10px 25px 7px 25px;
}
#ij1qn7 {
  background-color: #ffffff;
  border-radius: 8px 8px 8px 8px;
  padding: 5px 15px 5px 15px;
  box-shadow: 2px 2px 9px 5px rgba(170, 170, 170, 0.07);
  margin: 0 30px 0 0;
}
#i2myi3 {
  padding: 4px 0 4px 0;
}
#ir45wk {
  flex: 0 1 auto;
  align-self: center;
}
#itmwgi {
  color: black;
  width: 80%;
}
#i1ozaw {
  align-self: center;
  padding: 5px 0 5px 7px;
}
#i6sum9 {
  width: 100%;
  padding: 0 0 0 0;
  color: #302c5e;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 17px;
}
#ijy46l {
  width: 100%;
  padding: 0 0 0 0;
  color: #404040;
}
#iyqm6v {
  background-color: #ffffff;
  border-radius: 8px 8px 8px 8px;
  padding: 5px 15px 5px 15px;
  box-shadow: 2px 2px 9px 5px rgba(170, 170, 170, 0.07);
  margin: 0 15px 0 15px;
}
#ib9bki {
  padding: 4px 0 4px 0;
}
#iylbyj {
  flex: 0 1 auto;
  align-self: center;
}
#iqqe28 {
  color: black;
  width: 80%;
}
#i4vhpi {
  align-self: center;
  padding: 5px 0 5px 7px;
}
#ir38uj {
  width: 100%;
  padding: 0 0 0 0;
  color: #302c5e;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 17px;
}
#i084zm {
  width: 100%;
  padding: 0 0 0 0;
  color: #404040;
}
#i9s5h8 {
  background-color: #ffffff;
  border-radius: 8px 8px 8px 8px;
  padding: 5px 15px 5px 15px;
  box-shadow: 2px 2px 9px 5px rgba(170, 170, 170, 0.07);
  margin: 0 0 0 30px;
}
#i8k6y8 {
  padding: 4px 0 4px 0;
}
#ipkws2 {
  flex: 0 1 auto;
  align-self: center;
}
#i8pmea {
  color: black;
  width: 80%;
}
#ivr9e9 {
  align-self: center;
  padding: 5px 0 5px 7px;
}
#ilc3yh {
  width: 100%;
  padding: 0 0 0 0;
  color: #302c5e;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 17px;
}
#it41ae {
  width: 100%;
  padding: 0 0 0 0;
  color: #404040;
}
#ixnaf {
  margin: 0 35px 0 35px;
  padding: 0 0 0 0;
}
#ix9v7z {
  margin: 40px 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background-color: #fffafa;
}
#iztu9x {
  flex-direction: column;
  padding: 10px 0 15px 0;
}
#irgipm {
  padding: 5px 0 5px 0;
  margin: 3px 0 0 0;
}
#ir8q3c {
  color: #302c5e;
  font-size: 21px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  padding: 10px 10px 10px 25px;
}
#ik8b6d {
  padding: 10px 25px 10px 25px;
}
#imc9t7 {
  background-color: #ffffff;
  border-radius: 8px 8px 8px 8px;
  padding: 5px 15px 5px 15px;
  box-shadow: 2px 2px 9px 5px rgba(170, 170, 170, 0.07);
  margin: 0 30px 0 0;
}
#ilb7g1 {
  padding: 4px 0 4px 0;
}
#inuh3m {
  flex: 0 1 auto;
  align-self: center;
}
#id364b {
  color: black;
  width: 80%;
}
#i2pvsy {
  align-self: center;
  padding: 5px 0 5px 7px;
}
#igcqry {
  width: 100%;
  padding: 0 0 0 0;
  color: #302c5e;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 17px;
}
#imp3ab {
  width: 100%;
  padding: 0 0 0 0;
  color: #404040;
}
#ic36xz {
  background-color: #ffffff;
  border-radius: 8px 8px 8px 8px;
  padding: 5px 15px 5px 15px;
  box-shadow: 2px 2px 9px 5px rgba(170, 170, 170, 0.07);
  margin: 0 15px 0 15px;
}
#izw8by {
  padding: 4px 0 4px 0;
}
#ioc5y8 {
  flex: 0 1 auto;
  align-self: center;
}
#iyjizd {
  color: black;
  width: 80%;
}
#idu0l7 {
  align-self: center;
  padding: 5px 0 5px 7px;
}
#i3flow {
  width: 100%;
  padding: 0 0 0 0;
  color: #302c5e;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 17px;
}
#igf2jq {
  width: 100%;
  padding: 0 0 0 0;
  color: #404040;
}
#im2ghp {
  background-color: #ffffff;
  border-radius: 8px 8px 8px 8px;
  padding: 5px 15px 5px 15px;
  box-shadow: 2px 2px 9px 5px rgba(170, 170, 170, 0.07);
  margin: 0 0 0 30px;
}
#ixrheb {
  padding: 4px 0 4px 0;
}
#idszw3 {
  flex: 0 1 auto;
  align-self: center;
}
#ieu4og {
  color: black;
  width: 80%;
}
#igkwwv {
  align-self: center;
  padding: 5px 0 5px 7px;
}
#iovtvl {
  width: 100%;
  padding: 0 0 0 0;
  color: #302c5e;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 17px;
}
#ifwv5h {
  width: 100%;
  padding: 0 0 0 0;
  color: #404040;
}
@media (max-width: 768px) {
  #i05ihu {
      align-items: center;
  }
  #i6fl8s {
      text-align: center;
  }
  .burger {
      display: block;
  }
  #i1uhi {
      text-align: center;
      margin: 5px 0 0 0;
  }
  #ix4fp {
      text-align: center;
  }
  #ictt1 {
      text-align: center;
  }
  #ibzdj {
      text-align: center;
  }
  #i4vob {
      text-align: center;
      align-items: center;
      padding: 0 0 0 0;
  }
  #i20op {
      text-align: center;
      padding: 1px 2px 1px 2px;
  }
  #i7b2pk {
      text-align: center;
  }
  #i35mb {
      margin: 0 0 0 0;
  }
  #i9h8t {
      padding: 0 0 0 0;
  }
  #inpxw9-2 {
      height: 100%;
      width: 100%;
      padding: 5px 0 5px 0;
  }
  #i11uk-2 {
      width: 27%;
  }
  #i1t03-2 {
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
  }
  #i8r2e-2 {
      margin: 0 0 0 0;
      flex: 0 1 auto;
  }
  #i4r7l-2 {
      text-align: right;
      margin: 0 0 0 auto;
  }
  #imllt {
      text-align: right;
      margin: 0 0 0 auto;
  }
  #ifpp3-2 {
      flex-basis: 4%;
      margin: 0 0 0 0;
  }
  #il636-2 {
      margin: 10px 0 0 auto;
  }
  #iswww-2 {
      max-width: 75%;
  }
  .gpd-navbar__menu {
      display: block;
  }
}
@media (max-width: 415px) {
  #i7b2pk {
      padding: 5px 10px 10px 10px;
      text-align: center;
  }
  #i3dj3f {
      padding: 5px 0 0 0;
  }
  #i35mb {
      margin: 0 0 0 0;
      padding: 50px 0 40px 0;
  }
  #ijc2f {
      margin: 0 20px 0 20px;
  }
  #ifizg {
      margin: 0 20px 0 20px;
  }
  #ipz5u {
      margin: 0 20px 0 20px;
  }
  #i4vob {
      align-items: center;
      padding: 0 0 0 0;
  }
  #i20op {
      text-align: center;
      padding: 1px 2px 1px 2px;
  }
  #i1uhi {
      padding: 10px 0 10px 0;
      margin: 15px 0 0 0;
  }
  #i9h8t {
      padding: 0 0 0 0;
  }
  #ipadw {
      width: 100%;
  }
  #i11uk-2 {
      width: 50%;
  }
}
@media (max-width: 375px) {
  #i8k8l {
      max-width: auto;
  }
}
*,
:after,
:before {
    box-sizing: border-box;
}
body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Open Sans, Roboto, Helvetica Neue, Helvetica,
        Arial, sans-serif;
}
.gpd-container {
    width: 90%;
    padding: 25px 0;
    margin: 0 auto;
    max-width: 1200px;
}
.gpd-section {
    display: flex;
    padding: 50px 0;
}
.gpd-image-block {
    height: 200px;
    background-color: #ccc;
    width: auto;
}
.gpd-icon {
    vertical-align: middle;
    fill: currentColor;
    width: 64px;
    height: 64px;
}
.gpd-icon,
.gpd-link,
.gpd-link-box,
.gpd-text {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
.gpd-link,
.gpd-link-box,
.gpd-text {
    vertical-align: top;
    padding: 10px;
    max-width: 100%;
}
.gpd-link-box {
    padding: 5px;
}
.gpd-link {
    color: #d983a6;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
h1 {
    font-size: 2rem;
}
b,
i,
img,
label,
small,
span,
u {
    display: inline-block;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.card {
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 15px;
}
.form-group,
.form-group-gut {
    min-height: 10px;
    padding-bottom: 7px;
}
.form-group-gut {
    padding-right: 10px;
}
@media (max-width: 768px) {
    .form-group-gut {
        padding-right: 0;
    }
}
.button,
.button-full,
.input,
.input-padding,
.label-group,
.select,
.textarea {
    padding: 7px 10px;
}
.button,
.button-full,
.form,
.input,
.input-radius,
.label-group,
.select,
.textarea {
    border-radius: 3px;
}
.input,
.input-border,
.select,
.textarea {
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.svg-link {
    display: inline-block;
}
.link {
    color: #dc659b;
}
.link,
.link-svg {
    text-decoration: none;
}
.link-svg {
    padding: 5px;
    display: inline-block;
    color: inherit;
    opacity: 0.7;
    transition: color 0.25s;
    height: 28px;
    width: 28px;
    margin: 0 7.5px;
}
.link-svg:hover {
    color: #dc659b;
    opacity: 1;
}
.input,
.select,
.textarea {
    height: 36px;
    background-color: #fff;
    width: 100%;
    color: #555;
    display: block;
    font-size: 14px;
}
.input-group {
    height: 36px;
    display: table;
    border-collapse: separate;
}
.input-group .button,
.input-group .button-full,
.input-group .input,
.input-group .select,
.input-group .textarea {
    display: table-cell;
    vertical-align: middle;
}
.textarea {
    height: auto;
}
.label-group {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.05);
}
.form {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.label {
    display: inline-block;
    padding: 5px 0;
}
.label-checkbox {
    vertical-align: middle;
    line-height: 2rem;
}
.checkbox,
.checkbox-label,
.radio,
.radio-label {
    margin-right: 10px;
}
.button,
.button-full {
    display: inline-block;
    background-color: #dc659b;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}
.button-full {
    width: 100%;
}
.input-group {
    min-height: 10px;
    display: flex;
}
.input-group :not(:first-child):not(:last-child) {
    border-radius: 0;
}
.input-group :first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.input-group :last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.input-group .input-group-addon,
.input-group .input-group-btn {
    flex: 1 0 auto;
}
.state,
.state-error,
.state-success {
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
}
.state-success {
    display: none;
    background-color: #4ba74b;
}
.state-error {
    display: none;
    background-color: #de5454;
}
.nav-items {
    display: inline-block;
    float: right;
}
.navbar {
    background-color: #222;
    color: #ddd;
    min-height: 50px;
    width: 100%;
}
.navbar-container {
    max-width: 950px;
    margin: 0 auto;
    width: 95%;
}
.navbar-container:after {
    content: "";
    clear: both;
    display: block;
}
.navbar-brand {
    vertical-align: top;
    display: inline-block;
    padding: 5px;
    min-height: 50px;
    min-width: 50px;
    color: inherit;
    text-decoration: none;
}
.navbar-items {
    padding: 10px 0;
    display: block;
    float: right;
    margin: 0;
}
.navbar-item {
    margin: 0;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
}
.burger {
    margin: 10px 0;
    width: 45px;
    padding: 5px 10px;
    display: none;
    float: right;
    cursor: pointer;
}
.burger-line {
    padding: 1px;
    background-color: #fff;
    margin: 5px 0;
}
.quote {
    line-height: 1.5rem;
}
.footer-copyright {
    text-align: center;
    padding-top: 20px;
    opacity: 0.7;
}
.footer-link,
.footer-link-svg,
.header-link,
.header-link-svg {
    padding: 7px 5px;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    transition: color 0.25s;
}
.footer-link-svg,
.header-link-svg {
    height: 28px;
    width: 28px;
    margin: 0 15px 0 0;
}
.footer-link-svg:hover,
.footer-link:hover,
.header-link-svg:hover,
.header-link:hover {
    color: #dc659b;
    opacity: 1;
}
.footer-details {
    padding: 5px;
    line-height: 1.5rem;
}
.footer-socials {
    padding: 10px 0;
}
.footer-form {
    padding-top: 10px;
}
.header-link-svg {
    margin: 0 5px;
}
.header-socials {
    margin-left: 25px;
    display: inline-block;
    vertical-align: middle;
}
.gdp-row,
.row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 10px;
    min-height: 75px;
    flex-direction: row;
}
@media (max-width: 768px) {
    .gdp-row,
    .row {
        flex-wrap: wrap;
    }
}
.cell,
.cell-gut,
.gdp-cell,
.gdp-cell-gut {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 5px;
}
.cell-gut,
.gdp-cell-gut {
    padding-right: 15px;
}
@media (max-width: 768px) {
    .cell-gut,
    .gdp-cell-gut {
        padding-right: 0;
    }
}
@media (max-width: 768px) {
    .burger {
        display: block;
    }
    .nav-items {
        display: none;
        width: 100%;
    }
    .navbar-items {
        width: 100%;
    }
    .navbar-item {
        display: block;
    }
}
[data-anim-type] {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
@-webkit-keyframes bounce {
    0%,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateZ(0);
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        transform: translate3d(0, -4px, 0);
    }
}
@keyframes bounce {
    0%,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateZ(0);
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        transform: translate3d(0, -4px, 0);
    }
}
@-webkit-keyframes flash {
    0%,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
@keyframes flash {
    0%,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
@-webkit-keyframes pulse {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        transform: scaleX(1);
    }
}
@keyframes pulse {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        transform: scaleX(1);
    }
}
@-webkit-keyframes shake {
    0%,
    to {
        transform: translateZ(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}
@keyframes shake {
    0%,
    to {
        transform: translateZ(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}
@-webkit-keyframes tada {
    0% {
        transform: scaleX(1);
    }
    10%,
    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }
    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    }
    to {
        transform: scaleX(1);
    }
}
@keyframes tada {
    0% {
        transform: scaleX(1);
    }
    10%,
    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }
    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    }
    to {
        transform: scaleX(1);
    }
}
@-webkit-keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.3);
    }
    28% {
        transform: scale(1);
    }
    42% {
        transform: scale(1.3);
    }
    70% {
        transform: scale(1);
    }
}
@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.3);
    }
    28% {
        transform: scale(1);
    }
    42% {
        transform: scale(1.3);
    }
    70% {
        transform: scale(1);
    }
}
@-webkit-keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}
@keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}
@-webkit-keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    75% {
        transform: translate3d(0, -10px, 0);
    }
    90% {
        transform: translate3d(0, 5px, 0);
    }
    to {
        transform: translateZ(0);
    }
}
@keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    75% {
        transform: translate3d(0, -10px, 0);
    }
    90% {
        transform: translate3d(0, 5px, 0);
    }
    to {
        transform: translateZ(0);
    }
}
@-webkit-keyframes bounceInLeft {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }
    75% {
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        transform: translate3d(5px, 0, 0);
    }
    to {
        transform: translateZ(0);
    }
}
@keyframes bounceInLeft {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }
    75% {
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        transform: translate3d(5px, 0, 0);
    }
    to {
        transform: translateZ(0);
    }
}
@-webkit-keyframes bounceInRight {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        transform: translate3d(10px, 0, 0);
    }
    90% {
        transform: translate3d(-5px, 0, 0);
    }
    to {
        transform: translateZ(0);
    }
}
@keyframes bounceInRight {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        transform: translate3d(10px, 0, 0);
    }
    90% {
        transform: translate3d(-5px, 0, 0);
    }
    to {
        transform: translateZ(0);
    }
}
@-webkit-keyframes bounceInUp {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }
    75% {
        transform: translate3d(0, 10px, 0);
    }
    90% {
        transform: translate3d(0, -5px, 0);
    }
    to {
        transform: translateZ(0);
    }
}
@keyframes bounceInUp {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }
    75% {
        transform: translate3d(0, 10px, 0);
    }
    90% {
        transform: translate3d(0, -5px, 0);
    }
    to {
        transform: translateZ(0);
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@-webkit-keyframes flipInX {
    0% {
        transform: perspective(400px) rotateX(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotateX(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotateX(10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotateX(-5deg);
    }
    to {
        transform: perspective(400px);
    }
}
@keyframes flipInX {
    0% {
        transform: perspective(400px) rotateX(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotateX(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotateX(10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotateX(-5deg);
    }
    to {
        transform: perspective(400px);
    }
}
@-webkit-keyframes flipInY {
    0% {
        transform: perspective(400px) rotateY(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotateY(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotateY(10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotateY(-5deg);
    }
    to {
        transform: perspective(400px);
    }
}
@keyframes flipInY {
    0% {
        transform: perspective(400px) rotateY(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotateY(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotateY(10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotateY(-5deg);
    }
    to {
        transform: perspective(400px);
    }
}
@-webkit-keyframes rotateIn {
    0% {
        transform-origin: center;
        transform: rotate(-200deg);
        opacity: 0;
    }
    to {
        transform-origin: center;
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes rotateIn {
    0% {
        transform-origin: center;
        transform: rotate(-200deg);
        opacity: 0;
    }
    to {
        transform-origin: center;
        transform: translateZ(0);
        opacity: 1;
    }
}
@-webkit-keyframes rotateInDownLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(-45deg);
        opacity: 0;
    }
    to {
        transform-origin: left bottom;
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes rotateInDownLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(-45deg);
        opacity: 0;
    }
    to {
        transform-origin: left bottom;
        transform: translateZ(0);
        opacity: 1;
    }
}
@-webkit-keyframes rotateInDownRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(45deg);
        opacity: 0;
    }
    to {
        transform-origin: right bottom;
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes rotateInDownRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(45deg);
        opacity: 0;
    }
    to {
        transform-origin: right bottom;
        transform: translateZ(0);
        opacity: 1;
    }
}
@-webkit-keyframes rotateInUpLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(45deg);
        opacity: 0;
    }
    to {
        transform-origin: left bottom;
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes rotateInUpLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(45deg);
        opacity: 0;
    }
    to {
        transform-origin: left bottom;
        transform: translateZ(0);
        opacity: 1;
    }
}
@-webkit-keyframes rotateInUpRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(-90deg);
        opacity: 0;
    }
    to {
        transform-origin: right bottom;
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes rotateInUpRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(-90deg);
        opacity: 0;
    }
    to {
        transform-origin: right bottom;
        transform: translateZ(0);
        opacity: 1;
    }
}
@-webkit-keyframes slideInDown {
    0% {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}
@keyframes slideInDown {
    0% {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}
@-webkit-keyframes slideInLeft {
    0% {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}
@keyframes slideInLeft {
    0% {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}
@-webkit-keyframes slideInRight {
    0% {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}
@keyframes slideInRight {
    0% {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}
@-webkit-keyframes slideInUp {
    0% {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}
@keyframes slideInUp {
    0% {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
@-webkit-keyframes zoomInDown {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
@keyframes zoomInDown {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
@-webkit-keyframes zoomInLeft {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
@keyframes zoomInLeft {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
@-webkit-keyframes zoomInRight {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
@keyframes zoomInRight {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
@-webkit-keyframes zoomInUp {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
@keyframes zoomInUp {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

